*,
ul {
    
    /*Troubleshooting CSS 
    outline: 1px dotted red; */ 
    margin:0;
    padding:0;
}

ul {
    list-style-type: none;
}

.navbar,
.navbar-links,
.navbar-logo {
    display:flex;
    gap:20px;
    justify-content: space-between;
    padding:10px 80px 50px 50px;   
}

.navbar-links {
    margin:
}

.navbar,
.hero {
    background-color:#1f2937;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


    
 /*Troubleshooting CSS  
.navbar,
.navbar-logo {    
       
    background: yellow;
}

.navbar-left {   
       
    background: rgb(222, 222, 202);
}

.navbar-logo {
    
}

.navbar,
.navbar-links {
    display:flex;

}
*/